apiVersion: v1
kind: Service
metadata:
  name: nikki-web
  labels:
    app: nikki-web
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: nikki-web
