apiVersion: v1
kind: Service
metadata:
  name: nikki-web
  labels:
    app: nikki-web
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: nikki-web
