apiVersion: v1
kind: Service
metadata:
  name: nikki-api
  labels:
    app: nikki-api
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: nikki-api

